<div class="container-fluid room-for-navbar">
  <form action="/login">

    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">

    <input type="submit" value="Log In">

  </form>
</div>