<div class='container blog'>
  <div class='row'>
    <div class='room-for-navbar'>
      <div class='col-md-4'>
        <div class='image-section'>
          <!-- images if they exist -->
        </div>
      </div>
      <div class='col-md-8 blog'>
        <div class='jumbotron'>
          <!-- <h1 class='blog-title right'> -->
            <%= markdown(@article.title) %>
          <!-- </h1> -->

          <h3 class='blog-date right'>
            <%=  format_date(@article.created_at.to_date) %>
          </h3>
        </div>

        <div class='content'>
          <p>
            <%= markdown(@article.content) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>