<div class='container blog'>

  <h1>The Three Things I Learned at Dev Bootcamp</h1>

  <p>
    When I signed up for Dev Bootcamp, the only thing I was interested in learning to do was how to program in Ruby and JavaScript. If I could get a handle on these skills, I was sure that I would be able to get a job as a developer so that I could finally escape the grasp of jobs based in administration and customer service.
  </p>

  <p>
    What I didn’t anticipate is that Dev Bootcamp is about so much more than learning to program. In fact, it is only a small portion of what I learned at Dev Bootcamp, and I would argue it is the least important of the three skills I learned.
  </p>

  <h2>On The Coding Skills I Learned</h2>

  <p>
    Surprise! Dev Bootcamp teaches you how to code. In fact, the Dev Bootcamp website lists a number of languages in their curriculum: Ruby, Javascript, SQL, HTML, and CSS. In addition, I learned how to use a few libraries, such as ActiveRecord, jQuery, and Handlebars.
  </p>

  <p>
    However, learning to code is about more than just a specific language, and Dev Bootcamp knows this. Languages become obsolete, but coding skills last forever. In this regard, DBC taught us a number of programming “best practices,” including agile development, single responsibility code, object-oriented design, and basic algorithm approaches.
  </p>

  <h2>Learning How to Learn</h2>

  <p>
    Like I said: Dev Bootcamp recognizes that Ruby won’t be around forever (though the jury is still out on JavaScript). As such, coding best practices aren’t worth much if we don’t know how to pick up the next language.
  </p>

  <p>
    Knowing how to learn is a skill which is vastly underrated in the “real world” but highly emphasized at Dev Bootcamp. Thus, one of the greatest skills that Dev Bootcamp taught me was how to focus my learning so I can reduce the amount of time between researching a new language and putting it to use. For example, one skill I practiced was jumping in and playing with the code. In this way, I can learn agilely: get something small working first, and then build from there.
  </p>

  <p>
    What implications does this have as a new developer? Well, I can apply for a job in any language because I can achieve a workable knowledge within a week. It won’t necessarily produce great code, but I can always improve on those aspects as I continue to learn.
  </p>

  <h2>Developing Emotional Intelligence</h2>

  <p>
    The most important concept I learned at Dev Bootcamp is about Emotional Intelligence. Before I started Dev Bootcamp, I often got in the way of my own learning. If it was too hard, I decided it wasn’t for me. I would stop before I was ahead because I didn’t want to see myself fail.
  </p>

  <p>
    Over the last 9 weeks, I learned how to recognize when I was getting in the way of myself as a result of high self-doubt and imposter syndrome.  These skills were taught through Engineering Empathy; in the words of Dev Bootcamp:
  </p>

  <p>
    Engineering Empathy helps us create an optimal learning mindset and environment for our students by addressing the human side of software development.
  </p>

  <p>
    For me, this has two sides: high awareness of my emotions, as well as high awareness of the emotions of my peers and coworkers. Both are necessary for a high Emotional Intelligence.
  </p>

  <p>
    In regards to myself, I learned about my superego: the little voice inside my head which undermines my confidence. This voice of doubt was the greatest obstacle to my ability to learn. While I am no better at quieting my superego, I am significantly better at recognizing it and minimizing its impact on my performance. In particular, I learned to lean into confusion and embrace failure — two traits I didn't have which have changed my attitude when learning a difficult new topic.
  </p>

  <p>
    In addition to gaining a higher emotional intelligence in regards to myself, I also learned a great number of tools for working on a team. My favorite tool is A.S.K. Feedback: feedback which is Actionable, Specific, and Kind. As long as all members are willing to give and receive A.S.K. Feedback, we can learn to work as a team quickly and efficiently.
  </p>

  <h1>In Conclusion</h1>

  <p>
    Dev Bootcamp changed my life. I learned incredibly valuable life skills which make me a valuable and competent employee — and I happened to learn how to code along the way.
  </p>

  <p>
    Long live the Fiddler Crabs, 2015!
  </p>

  <div class='image-section'>
    <img class='img-responsive' src='https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/10954392_1618025248430197_2785199_n.jpg' />

    <p class='img-caption'>Fiddler Crabs 2015, the Saturday before Phase 1</p>
  </div>
</div>