<div class='container blog stubbed'>
  <p>
    Title: <%= markdown(@article.title) %>
  </p>
  <p>
    Excerpt: <%= markdown(@article.excerpt) %>
  </p>
  <p>
    Content: <%= markdown(@article.content) %>
  </p>
</div>