<div class='container blog'>
  <div class='room-for-navbar'>
    <p>
      Title: <%= markdown(@article.title) %>
    </p>
    <p>
      Excerpt: <%= markdown(@article.excerpt) %>
    </p>
    <p>
      Content: <%= markdown(@article.content) %>
    </p>
  </div>
</div>