<div class='interest'>
  <h1><span class='embiggen'>About Me</span></h1>
</div>

<div class='main-content'>

  <h3>My Mission as a Developer</h3>

  <p>
    I am a "doer" —  when I see a problem, I strive to find a solution as quickly and as effectively as possible. I approach every job with a critical eye, and I am commited to contributing to a better product from day one.  I am excited to join the field of web development, where I plan to learn, teach, and raise the bar.
  </p>

  <div class='img-med'>
    <img alt='Cari Westbrook at the Golden Gate Bridge' src="https://res.cloudinary.com/cariwest/image/upload/v1429120295/golden-gate-bridge_vksbfb.jpg">
  </div>

  <h3>Outside of Programming</h3>

  <p>
    In my free time, I am a semi-professional Swing Dancer. I work in the community as an organizer and a teacher, and I travel nationally for Lindy Hop events as a volunteer, staff member, and competitor. I help organize the local San Francisco dance event known as Fog City Stomp.
  </p>
</div>
