<div class='container' id='about'>
  <h1>About Me</h1>

  <div class='row'>
    <div class='col-md-6'>
      <%= image_tag('golden-gate-bridge.jpg', alt: 'Cari Westbrook', class: 'img-responsive') %>
    </div>
    <div class='col-md-6'>
      <p class='emphasize'>
        I recently graduated from Dev Bootcamp, which is a short and intensive program that taught me the basic skills of web development. I learned languages such as Ruby, Rails, JavaScript, and jQuery. However, I also picked up a greater skill: the ability to quickly and efficiently learn a new language in an incredibly short period of time.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <p>
        Before Dev Bootcamp, I worked as an Adventure Consultant at O.A.R.S., which is the largest whitewater rafting company in the world. My primary goal was to ensure that guests who had signed up for an adventure trip were equipped with all the information they needed to enjoy their vacation. When I wasn't managing the trips in California and Oregon, I worked to improve the user experience for our online forms and debug our reservations tool. This was the beginning of my interest in coding — and you can see where it took me!
      </p>

      <p>
        In my free time, I teach weekly lessons in her community in Swing Dance and Argentine Tango. I travel nationally for Lindy Hop as a volunteer and staff member for respected dance events such as Lindy Focus and the International Lindy Hop Championships. I also help organize the local event Fog City Stomp.
      </p>
    </div>
  </div>

  <div class='row'>
    <a href='mailto:cari.westbrook@gmail.com'>
      <%= image_tag('email.png', alt: 'cari.westbrook@gmail.com', class: 'social-icon') %>
    </a>
    <a href='https://www.github.com/CariWest' target="_blank">
      <%= image_tag('github.png', alt: 'GitHub', class: 'social-icon') %>
    </a>
    <a href='https://www.linkedin.com/in/cariwestbrook' target="_blank">
      <%= image_tag('linked_in.png', alt: 'LinkedIn', class: 'social-icon') %>
    </a>

    <!-- icons from https://www.iconfinder.com/jessicalanan -->
  </div>
</div>