<div class='interest'>
  <h1><span class='embiggen'>About Me</span></h1>
</div>

<div class='main-content'>

  <p>
    I am a "doer" —  when I see a problem, I strive to find a solution as quickly and as effectively as possible. I approach every job with a critical eye, and I am commited to contributing to a better product from day one.  I am excited to join the field of web development, where I plan to learn, teach, and raise the bar.
  </p>

  <div class='img-med'>
    <img alt='Cari Westbrook at the Golden Gate Bridge' src="https://res.cloudinary.com/cariwest/image/upload/v1429120295/golden-gate-bridge_vksbfb.jpg">
  </div>

  <div>
    <a href='mailto:cari.westbrook@gmail.com'><%= image_tag('email.png', alt: 'cari.westbrook@gmail.com', class: 'social-icon') %></a>
    <a href='https://www.github.com/CariWest' target="_blank"><%= image_tag('github.png', alt: 'GitHub', class: 'social-icon') %></a>
    <a href='https://www.linkedin.com/in/cariwestbrook' target="_blank"><%= image_tag('linked_in.png', alt: 'LinkedIn', class: 'social-icon') %></a>
  </div>

    <!-- icons from https://www.iconfinder.com/jessicalanan -->

  <p>
    I recently graduated from Dev Bootcamp, which is a short and intensive program that taught me the basic skills of web development. I learned languages such as Ruby, Rails, JavaScript, and jQuery. However, I also picked up a greater skill: the ability to quickly and efficiently learn a new language in an incredibly short period of time.
  </p>

  <p>
    Before Dev Bootcamp, I worked as an Adventure Consultant at O.A.R.S., which is the largest whitewater rafting company in the world. I also have a double major in Environmental Studies and Creative Writing from Emory University.
  </p>

  <p>
    In my free time, I volunteer for the local Swing Dance community as an organizer and teacher. I travel nationally for Lindy Hop as a volunteer and staff member for respected dance events such as Lindy Focus and the International Lindy Hop Championships. I also help organize the San Francisco dance event Fog City Stomp.
  </p>
</div>
