<div class='banner'>
  <div class='full-img'>
<!--       <img class='img-responsive center main-img' src='https://res.cloudinary.com/cariwest/image/upload/v1429120133/Cari_LF_142_wrxw3z.jpg' alt='Cari Westbrook' /> -->
    <div class='header overlay'>
      <h2>Cari Westbrook</h2>
      <h2>Full-Stack Developer</h2>
    </div>
  </div>
