<div class="interest">
  <h1><span class='embiggen'>Contact</span></h1>

</div>

<div class='main-content'>
  <a href='mailto:cari.westbrook@gmail.com'><%= image_tag('email.png', alt: 'cari.westbrook@gmail.com', class: 'social-icon') %></a>
  <a href='https://www.github.com/CariWest' target="_blank"><%= image_tag('github.png', alt: 'GitHub', class: 'social-icon') %></a>
  <a href='https://www.linkedin.com/in/cariwestbrook' target="_blank"><%= image_tag('linked_in.png', alt: 'LinkedIn', class: 'social-icon') %></a>

  <!-- icons from https://www.iconfinder.com/jessicalanan -->
</div>

