<div class='container'>
  <!-- <img src='/images/self.jpg' class='img-responsive'  alt='Cari Westbrook'/> -->
  <h1>Cari Westbrook</h1>
  <h2>Web Developer</h2>
  <%= image_tag('self.jpg', alt: 'Cari Westbrook', class: 'img-responsive landscape-img') %>

  <p class='summary'>
    I am a "doer" —  when I see a problem, I strive to find a solution as quickly and as effectively as possible. I approach every job with a critical eye, and I am commited to contributing to a better product from day one.  I am excited to join the field of web development, where I plan to learn, teach, and raise the bar.
  </p>
</div>