<div class='container' id='home'>
  <h1>Cari Westbrook</h1>
  <h2>Full-Stack Developer</h2>
  <div class='home-content'>
    <img src='http://res.cloudinary.com/cariwest/image/upload/v1429120133/Cari_LF_142_wrxw3z.jpg' alt='Cari Westbrook' class='img-responsive center' />
  </div>
</div>