<div class='container'>
  <div class='room-for-navbar'>
    <h1 class='main-header'>Cari Westbrook</h1>
    <h2>Full-Stack Developer</h2>
    <div class='home-content'>
      <img class='img-responsive center main-img' src='https://res.cloudinary.com/cariwest/image/upload/v1429120133/Cari_LF_142_wrxw3z.jpg' alt='Cari Westbrook' />
    </div>
</div>