<div class='container' id='home'>
  <h1>Cari Westbrook</h1>
  <h2>Web Developer</h2>
  <div class='home-content'>
    <%= image_tag('self.jpg', alt: 'Cari Westbrook', class: 'img-responsive center') %>
  </div>
</div>