<div class='container' id='home'>
  <h1>Cari Westbrook</h1>
  <h2>Web Developer</h2>
  <div class='home-content'>
    <%= image_tag('self.jpg', alt: 'Cari Westbrook', class: 'img-responsive center') %>

    <div class='center emphasize'>
      I am a "doer" —  when I see a problem, I strive to find a solution as quickly and as effectively as possible. I approach every job with a critical eye, and I am commited to contributing to a better product from day one.  I am excited to join the field of web development, where I plan to learn, teach, and raise the bar.
    </div>
  </div>
</div>