<nav class="navbar navbar-inverse">
  <!-- navbar-fixed-top -->
    <div class="container">

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>