<div class='container'>
  <h1>Projects</h1>

  <%= image_tag('trading-faces.png', alt: 'Trading Faces', class: 'img-responsive landscape-img') %>

  <p class='summary'>
    Trading Faces is a game of silly selfies. Users challenge a friend to recreate a silly face; once both users have recreated a silly face, the faces are analyzed for similarities. The best mimic wins!

    This app is fully decoupled, including decoupled oauth through Facebook. The game emphasizes a single-page experience and a carefully crafted game flow which hides game logic to emphasize a positive user experience.
  </p>
</div>