<div>
  <div class='interest'>
    <h1>Projects</h1>
  </div>

  <div class='main-content hidden'>

    <div>
      <div>
        <h3>Trading Faces | <a href="https://github.com/evanhughes3/TradingFaces">Github</a></h3>
      </div>

      <div class=''>
        <img src='https://res.cloudinary.com/cariwest/image/upload/v1429120319/trading-faces_v8cakb.png' alt='Trading Faces' class='img-responsive middle' />
      </div>

      <div class=''>

        <p class=''>
          Trading Faces is a game of silly selfies. Users challenge a friend to recreate a silly face; once both users have recreated a silly face, the faces are analyzed for similarities. The best mimic wins!
        </p>

        <p>
          This app is fully decoupled, including decoupled oauth through Facebook. The game emphasizes a single-page experience and a carefully crafted game flow which hides game logic to emphasize a positive user experience.
        </p>
      </div>
    </div>

    <div class='row well'>
      <div class='col-md-12'>
        <h3>PhotoBoks | <a href="https://github.com/CariWest/PhotoBoks">Github</a></h3>
      </div>

      <div class='col-md-8'>
        <img src='https://res.cloudinary.com/cariwest/image/upload/v1429120309/photo-boks_zoeimp.png' alt='Photo Boks' class='img-responsive middle' />
      </div>

      <div class='col-md-4'>
        <p class='middle'>
          PhotoBoks sorts a user's Instagram content into personalized photo albums based on hashtags. This allows users to sort their photos without losing their photos in the noise of a popular Instagram hashtag.
        </p>
        <p>
          This app uses Sinatra, JavaScript, and jQuery to create an easy user experience with an emphasis on using restful routes; implemented single-page aspects to improve user experience
        </p>
      </div>
    </div>
  </div>
</div>
