<div class='container' id='skills'>
  <h1>Skills</h1>

  <p>
    TECHNOLOGY: Ruby, Rails, Debugging, SQL, Rspec, JavaScript, jQuery, HTML, CSS, Git / Github, Handlebars, Active Record, Algorithms, TDD, Pair Programming, Single Responsibility, OO Design, Single Page Apps, Sinatra
  </p>

  <p>
    ADDITIONAL: Teaching / Coaching, Written Communication, Customer Service, Sales, GIS & Mapping
  </p>
</div>