<div class="etsy">
  <div class="banner-hero">
    <div class="slogan">
      <h1>Hire Cari Westbrook as a Full Stack Developer.</h1>
      <h3>Be Amazed</h3>
    </div>
  </div>

  <div class="well">

    <div class="section-header">
      <div class="about-me-heading">
        <h1>About Me</h1>
        <h1>
          <small>I"m passionate about learning and pushing my boundaries</small>
        </h1>
      </div>

      <div class="container-fluid">
        <div class="row top-padding-big">
          <div class="col-md-4">
            <div class="feature-grids stand-out">
              <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1430974967/golden-gate-bridge_vksbfb.jpg" />

              <h4>
                Independent & Autonomous
              </h4>

              <p>
                I don"t believe expectations should be met; I believe they should be exceeded. I constantly strive to improve myself, because I believe success is measured by positive change rather than achievements.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature-grids stand-out">
              <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1430948415/cari-yosemite_nayeo8.jpg" />
              <h4>
                Inspiration
              </h4>

              <p>
                I am inspired by my mom. She is an incredible DIY master who can do anything from sewing a quilt to fixing the plumbing. She pushes me to be my best and to constantly work harder than I"ve ever worked before. She"s shown me problems become easy to solve when we can identify the basic need "need." The hard part is finding the "need" in the first place.
              </p>
            </div>
          </div>

          <div class="col-md-4">

            <div class="feature-grids stand-out">
              <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1430948171/cari-dance_kj48rc.jpg"/>
              <h4>Community Love</h4>

              <p></p>
            </div>
          </div>
        </div>
      </div>

      <a href="#">
        <div class="resume-button stand-out top-padding-small">
          <h3>See the Full Resume <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </div>
      </a>
    </div>

    <div class="section-header container">
      <h1>Recommended by Skills</h1>
      <h1><small>Skills based on my experience</small></h1>
      <div class="row">
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431210336/ruby_mk1hej.svg" />

            <p>Ruby</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431210790/rails_yhkcif.svg" />

            <p>Ruby on Rails</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out skill-icon feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431211313/javascript_jdgo0p.png" />

            <p>JavaScript</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431212823/jquery_vebm2r.svg"/>
            <p>jQuery</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431296943/html5_ggdpvp.png" />
            <p>HTML</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431297219/css_amuc8t.png" />

            <p>CSS</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431297419/github_ulik6x.png">

            <p>Git & GitHub</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431298628/heroku-logo_gsjt6a.png">

            <p>Heroku</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431213374/handlebars-logo_w7hfus.png">
            <p>Handlebars</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431297764/boostrap_wffbix.svg">

            <p>Bootstrap</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431298347/sass_hslogn.png">

            <p>Sass</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="stand-out feature-grids top-padding-small">
            <img class="img-responsive" src="https://res.cloudinary.com/cariwest/image/upload/v1431299554/loop_npmo1v.png">

            <p>Agile Development</p>
          </div>
        </div>
      </div>

      <!-- Icons courtesy of https://jozefkrajcovic.sk/
      and http://www.somerandomdude.com/ -->
    </div>
  </div>

  <div>
    <div class="section-header container-fluid">
      <h1>Peer Tastemakers</h1>
      <h1>
        <small>
          What do peers have to say about Cari?
        </small>
      </h1>

      <div class="row top-padding-big">
        <div class="col-md-6">
          <img class="img-responsive" src="http://res.cloudinary.com/cariwest/image/upload/v1431379313/evan_popm0t.jpg" />
          <blockquote>
            Cari was an incredible teammate throughout the building of Trading Faces. She had a strong grasp on writing code that was modular, readable, and single responsibility, and did a great job at breaking down complex tasks into small and manageable pieces. Her technical skills on both front-end and back-end are extremely strong. She was responsible for many of the re-structuring's of the schema design. We couldn't have built it without her!
            <footer>
              Evan Hughes | <a href="http://evanhughes3.github.io/">Website</a>
            </footer>
          </blockquote>
        </div>

        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>

  <div class="teaching-picture">
  </div>

  <div class="teaching-highlight section-header top-padding-big">
    <h2>I believe learning and teaching are entertwined.</h2>
    <h2>
      <small>
        If I don't learn something new when teaching someone else, then I'm not doing my job.
      </small>
    </h2>

    <div class="top-padding-big">
      <blockquote class="narrow">
        I have been fortunate to stay at Dev Bootcamp as a Teaching Assistant, where I've been able to contribute to the incredible culture of learning. Here, I am humbled daily as I help others learn that which I am still studying myself. I am grateful every time a student challenges my assumptions and gives me a deeper understanding of programming.
      </blockquote>
    </div>
  </div>

</div>