<div class='etsy'>
  <div class='banner-hero'>
    <div class='slogan'>
      <h1>Hire Cari Westbrook as a Full Stack Developer.</h1>
      <h3>Be Amazed</h3>
    </div>
  </div>

  <div class='well'>

    <div class='about-me'>
      <div class='about-me-heading'>
        <h1>About Me</h1>
        <h1>
          <small>I'm passionate about learning and pushing my boundaries</small>
        </h1>
      </div>

      <div class='container-fluid'>
        <div class='row top-padding-big'>
          <div class='col-md-4'>
            <div class='feature-grids stand-out'>
              <img class='img-responsive' src='http://res.cloudinary.com/cariwest/image/upload/v1430974967/golden-gate-bridge_vksbfb.jpg' />

              <h4>
                Independent & Autonomous
              </h4>

              <p>
                I don't believe expectations should be met; I believe they should be exceeded. I constantly strive to improve myself, because I believe success is measured by positive change rather than achievements.
              </p>
            </div>
          </div>

          <div class='col-md-4'>
            <div class='feature-grids stand-out'>
              <img class='img-responsive' src='http://res.cloudinary.com/cariwest/image/upload/v1430948415/cari-yosemite_nayeo8.jpg' />
              <h4>
                Inspiration
              </h4>

              <p>
                I am inspired by my mom. She is an incredible DIY master who can do anything from sewing a quilt to fixing the plumbing. She pushes me to be my best and to constantly work harder than I've ever worked before. She's shown me problems become easy to solve when we can identify the basic need "need." The hard part is finding the "need" in the first place.
              </p>
            </div>
          </div>

          <div class='col-md-4'>

            <div class='feature-grids stand-out'>
              <img class='img-responsive' src='http://res.cloudinary.com/cariwest/image/upload/v1430948171/cari-dance_kj48rc.jpg'/>
              <h4>Community Love</h4>

              <p></p>
            </div>
          </div>
        </div>
      </div>

      <a href='#'>
        <div class='resume-button stand-out top-padding-small'>
          <h3>See the Full Resume <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </div>
      </a>
    </div>

    <div class='recommended container'>
      <h1>Recommended Skills</h1>
      <h1><small>Skills based on my experience</small></h1>
      <div class='row'>
        <div class='col-md-3'>
          <div class='skill feature-grids top-padding-small'></div>
        </div>
        <div class='col-md-3'>
          <div class='skill feature-grids top-padding-small'></div>
        </div>
        <div class='col-md-3'>
          <div class='skill feature-grids top-padding-small'></div>
        </div>
        <div class='col-md-3'>
          <div class='skill feature-grids top-padding-small'></div>
        </div>
      </div>
    </div>
  </div>
</div>