<div class='etsy'>
  <div class='banner-hero'>
    <div class='slogan'>
      <h1>Hire Cari Westbrook as a Full Stack Developer.</h1>
      <h3>Be Amazed</h3>
    </div>
  </div>

  <div class='about-me page-header well'>
    <div class='about-me-heading'>
      <h1>About Me</h1>
      <h1>
        <small>I'm passionate about learning and pushing my boundaries</small>
      </h1>
    </div>

</div>