html{
  background-color: #8596A6;
  font-family: "Bitter", serif;
  color: #2F3640;
  height:100%;
}

body {
  height: 100%;
  margin: 0px;
}

header {
  padding:1em;
}

footer {
  position: absolute;
  height: 2em;
  width: 100%;
  bottom: 1em;
}

blogs-list {
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-top: 2.5%;
}

blog-post {
  width: 50%;
  float: left;
  margin-left: 5%;
  margin-top:2.5%;
}

a {
  text-decoration: none;
  color: #2F3640;
}

a:hover {
  text-decoration: underline;
}

span {
  color: #F2DCC2;
  font-size: 1.5em;
}

ul {
  padding-left: 0px;
}

ul li {
  list-style: none;
}

nav_main ul li {
  display: inline-block;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 1.25em;
  padding: .5em;
}

nav_main ul li a {
  color: #F2DCC2;
}

footer ul li {
  display: inline-block;
  margin-top: .5em;
  margin-left: .25em;
  margin-right: .25em;
}

footer ul li a img {
  height: 2em;
  width: 2em;
}

.container {
   min-height:100%;
   position:relative;
}

.horizontal {
  border-top: 2px solid #F2E3D5;
  clear: both;
}

.center-it {
  margin: auto;
  text-align: center;
  padding: 0px;
}

.content {
  padding: 10px;
  min-height: 20em;
  padding-bottom: 5em;
}

.name {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 4em;
  color: #F2DCC2;
}

.subheader {
  margin-top: 0em;
  margin-left: 1em;
  font-size: 1.5em;
  color: #F2DCC2;
}
