/* GENERAL */

html {
  background-color: #8596A6;
}

a {
  text-decoration: none;
  color: #2F3640;
}

a:hover {
  text-decoration: underline;
}

img {
  height: 2em;
  width: 2em;
}

div div img {
  float: left;
  height: 20em;
  width: 20em;
  margin-top: 1em;
  margin-left: 15%;
  margin-bottom: 3em;
}

* {
  font-family: "Bitter", serif;
  color: #2F3640;
}

.horizontal {
  display: block;
  margin-top: 1em;
  height: 1px;
  border-top: 2px solid #F2DCC2;
  clear: both;
}

.centerIt {
  position: relative;
  margin: auto;
  text-align: center;
}

.header {
  display: block;
  position: relative;
  top: 1em;
  height: 8em;
  width: 100%;
}

.name {
  font-size: 4em;
  color: #F2DCC2;
}

.subheader {
  position: relative;
  top: -2.5em;
  left: 1em;
  font-size: 1.5em;
  color: #F2DCC2;
}

.navigation {
  display: block;
  position: relative;
  margin-top: .5em;
  height: 10%;
  width: 100%;
}

.button {
  display: inline-block;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: .5em;
  text-align: center;
}

.contentheader {
  font-size: 1.5em;
  color: #F2DCC2;
}

.content {
  display: block;
  margin-top: .5em;
  margin-left: 40%;
  padding: 1em;
  height: 18em;
  width: 40%;
  position: relative;
  top: 2em;
}

.blogposts {
  position: relative;
  top: -1em;
  list-style-type: none;
}

.icon {
  display: inline-block;
  position: relative;
  margin: .25em;
  padding-top: .5em;
}

