
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  background-color: gray;
}

header {
  padding: 1em;
  background-color: blue;
}

footer {
  position: absolute;
  height: 2em;
  width: 100%;
  background-color: green;
  bottom: 0em;
}

.container {
  min-height:100%;
  position:relative;
}

.content {
  min-height: 20em;
  padding-bottom: 5em;
  background-color: red;
}



