$center-margin: 1em auto;

/*Soon to be outdate as I update the css for markdown rendering*/
.blog {
  .right {
    text-align: right;
  }

  h1, h2, h3 {
    font-family: 'Josefin Slab';
  }


  p {
    /*font-family: 'Open Sans';*/
  }
}

.jumbotron {
  h1 {
    font-weight: bold;
    text-align: right;
  }
}

.content {
  h2, h3 {
    background-color: #eee;
    padding: 1em 1em .5em 1em;
    border-radius: 4px;
    margin-top: 1.5em;
  }
}

.blog-title {
  font-weight: bold;
}

.image-section {
  margin: $center-margin;
}

.img-responsive {
  margin: $center-margin;
}

.img-caption {
  text-align: center;
}

.container-fluid {
  width: 80%;
}