$center-margin: 1em auto;

.blog {
  .right {
    text-align: right;
  }

  h1, h2, h3 {
    text-align: right;
  }
}

.blog-title {
  font-weight: bold;
}

.image-section {
  margin: $center-margin;
}

.img-responsive {
  margin: $center-margin;
}

.img-caption {
  text-align: center;
}

.container-fluid {
  width: 80%;
}