$subheaderFont: 'Merriweather';

* {
  font-family: $subheaderFont;
}

.container {
  width: 80%;
  margin: auto;

  @media screen and (max-width: 500px) {
    width: 90%;
  }
}

.rounded {
  border-radius: 15px;
}