$blue-transparent: rgba(154, 218, 205, .9);
$tan: #F2EDBA;
$brown: #72654A;
$orange: #FF5E0E;
$off-white: #F5F4F2;

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.etsy {
  display: relative;
  height: 100%;
  font-family: 'Alike';

  * {
    font-family: 'Alike';
  }

  h1 {
    margin: 0;
  }

  .narrow {
    width: 60%;
    margin: auto;
  }
}

.banner-hero {
  display: relative;
  height: 50%;
  background-image: url('http://res.cloudinary.com/cariwest/image/upload/c_scale,w_600/v1430945680/GypsyGardenbyPixels_IceCream_m5xpiq.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  color: white;
  text-align: center;
  background-color: $blue-transparent;
  padding: 3em 1em;
}

.section-header {
  text-align: center;
  padding: 2em;

  h2 {
    margin: 0em;
  }
}

.well {
  border-bottom: none;
  border-radius: 0px;
}

.about-me-heading {
  margin-top: 5em;
}

.feature-grids {
  padding: 0 10px;

  img {
    border-radius: 0;
  }
}

.resume-button {
  background-color: white;
  width: 275px;
  margin: auto;
}

.stand-out {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;

  h3 {
    margin: 20px 0px;
  }
}

.glyphicon-chevron-right {
  font-size: .5em;
}

.top-padding-big {
  margin-top: 3em;
}

.top-padding-small {
  margin-top: 1em;
}

.skill-icon {
  /*padding: 1em;*/

  img {
    max-height: 234px;
  }
}

blockquote {
  text-align: left;
}

.teaching-picture {
  height: 500px;
  background: url("https://res.cloudinary.com/cariwest/image/upload/v1431391305/cari-teaching_qfdi3f.jpg");
  background-position: center;
  background-size: cover;
}

.contact-me {
  width: 60%;
  margin: 4em auto;
  text-align: center;
}

label {
  display: none;
}

.trust {

  .container-fluid {
    width: 80%;
    margin: auto;
  }

  .smaller {
    width: 70%;
    height: auto;
    margin: auto;
  }

  h3 {
    text-align: center;
  }
}

.contact-me {
  .form-group {
    height: auto;
  }
}