/*Place all the styles related to the welcome controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/*/

$salmon: rgb(240, 96, 96);
$orange: rgb(243, 181, 98);
$green: rgb(140, 190, 178);
$teal: rgb(98, 163, 190);
$purple: rgb(92, 75, 81);

.banner {
  position: relative;
  width: 100%;
}

.overlay {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.header {
  position: absolute;
  bottom: 0px;

  h1, h2 {
    margin: 0em;
    padding: .25em 1em;
  }
}

.full-img {
  width: 100%;
  background-image: url('https://res.cloudinary.com/cariwest/image/upload/v1429120133/Cari_LF_142_wrxw3z.jpg');
  background-size: 100%;
  height: 17em;
}

#projects {
  background-color: $salmon;
  background-color: rgba(240, 96, 96, .8);

  &:hover {
    background-color: $salmon;
  }
}

#blog {
  background-color: $orange;
  background-color: rgba(243, 181, 98, .8);

  &:hover {
    background-color: $orange;
  }
}

#resume {
  background-color: $green;
  background-color: rgba(140, 190, 178, .8);

  &:hover {
    background-color: $green;
  }
}

#about {
  background-color: $teal;
  background-color: rgba(98, 163, 190, .8);

  &:hover {
    background-color: $teal;
  }
}

#contact {
  background-color: $purple;
  background-color: rgba(92, 75, 81, .8);

  &:hover {
    background-color: $purple;
  }
}

/*$center-margin: 1em auto;

.fill {
  min-height: 100%;
}

.narrow .container {
  width: 60%;
}

.room-for-navbar {
  position: relative;
  margin-top: 5em;
}

#home {
  .main-header {
    margin-top: 0em;
    font-size: 500%;
  }

  h2 {
    margin-top: 0em;
    text-align: right;
  }

  .main-img {
    margin-top: 2em;
  }
}

#projects {
  img {
    border: 1px solid #dcdcdc;
  }

  h3 {
    margin: 0;
  }

  h3 a {
    font-family: 'Syncopate';
    font-weight: bold;
  }

  .col-md-8 {
    padding: 0;
  }
}

#about {
  .row {
    margin-bottom: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emphasize {
    font-size: 150%;
  }

  .social-icon {
    width: 4em;
    margin: .5em;
  }
}
*/