/*Place all the styles related to the welcome controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/*/

$headline-font: Gary, serif;
$main-width: 100%;
$center-margin: 1em auto;

* {
  font-family: 'Merriweather';
}

html, body {
    height: 100%;
}

body {
  /*background-image: url('background.png');*/
}

h1, h2, h3 {
  font-family: 'Syncopate';
}

img {
  border-radius: 1em;
}

.home-content {
  min-width: 100%;
  height: auto;
}

.image-text {
  font-size: 105%;
  text-align: center;
  padding: 1em;
}

.fill .container {
  width: 60%;
}

.middle {
  width: $main-width;
  margin: $center-margin;
}

.navbar {
  border-radius: 0px;
}

.fill {
  min-height: 100%;
}

#home {
  h1 {
    margin-top: 0em;
    font-size: 500%;
  }

  h2 {
    margin-top: 0em;
    text-align: right;
  }

  img {
    max-height: 35em;
    width: auto;
    z-index: -1;
  }
}

#projects {
  img {
    border: 1px solid #dcdcdc;
  }

  h3 {
    margin: 0;
  }
}

.col-md-8 {
  padding: 0;
}